name: Docker

on:
  workflow_call:
    

jobs:

  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: setup Docker Build
      uses: docker/setup-buildx-action@v3.12.0

    - name: Download a Build Artifact
      uses: actions/download-artifact@v7.0.0
      with:
    # Name of the artifact to download. If unspecified, all artifacts for the run are downloaded.
        name: programa_go
          
    - name: Docker Login
 
      uses: docker/login-action@v3.6.0
      with:
    # Username used to log against the Docker registry
        username: tjaos
    # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.PASSWORD_DOCKER_HUB }}

    - name: Build and push Docker images
      uses: docker/build-push-action@v6.18.0
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: tjaos/go_ci:${{ github.ref_name}}

